*{
     margin: 0;
     padding:0;
     box-sizing: border-box;
}
html, body{
     font-family:verdana, sans-serif ;
     font-size: 16px;
}
.serviceHero2{
     width: 100%;
     min-height: 90vh;
     background-color: aquamarine;
     display: flex;
     position: relative;
     place-items: center;
}
.serviceHeader2{
     text-align: center;
     padding: 20px;
     font-size: calc(15px + 0.4vw);
     font-weight: bold;
     font-family: arial, sans-serif;
     color: var(--darkgreen);
     background-color: var(--white);
}
.serviceContainer2{
     display: flex;
     flex-wrap: wrap;
     background-color: var(--white);

}
.serviceContainer2>div{
     width: max(300px, 40%);
     margin: 20px auto;
     border-radius: 10px 10px 0 5px; 
     background-color: #ffffff;
     padding: 30px;    
}
.serviceContainer2>div h5{
     font-family: georgia, serif;
     font-size: calc(13px + 0.1vw);
     font-weight: bold;
     padding-bottom: 10px;
     color: var(--green);
}
.serviceContainer2>div ol{
     
     width: 100%;
     display: list-item;
     width: 100%;
     padding-left: 20px;

}
.serviceContainer2>div ol li{
     padding: 5px;
     font-family:  arial, sans-serif;
     /* list-style-type:circle; */
     list-style-position:inside;  
    
}
